body {
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.wallpapersafari.com/70/86/t6HCFo.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  /* max-width: 1100px; */
}

/* header */
.cafe-header {
  width: 200px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.icons {
  display: flex;
  gap: 20px;
  font-size: 25px;
}

.bi-facebook {
  color: rgb(96, 56, 19);
  gap: 20px;
}

.bi-instagram {
  color: rgb(96, 56, 19);
}

.bi-whatsapp {
  color: rgb(96, 56, 19);
}

/* main */

h1 {
  text-align: center;
  margin-top: 1rem;
  /* margin-bottom: 5rem; */
  color: rgb(96, 56, 19);
  font-family: "Bebas Neue", cursive;
}

.h2 {
  text-align: center;
  /* margin-top: 5rem; */
  margin-bottom: 5rem;
  color: rgb(96, 56, 19);
  font-family: "Bebas Neue", cursive;
}

.subtitle {
  text-align: center;
  color: rgb(96, 56, 19);
  font-family: "Bebas Neue", cursive;
}

.cafe, .expresso, .mocha, .cappuccino {
  display: flex;
  align-items: center;
  line-height: 50px;
  margin-left: 23%;
}

.cafe img, .expresso img, .mocha img, .cappuccino img {
  border-radius: 10px 0 0 10px;
  width: 300px;
}

.expresso img {
  height: 232px;
}
.cappuccino img {
  height: 280px;
}

.cafe-body, .expresso-body, .mocha-body {
  background-color: #fff;
  padding: 61px 30px;
  border-radius: 0 10px 10px 0;
}

.cappuccino-body {
  background-color: #fff;
  padding: 18px 30px;
  border-radius: 0 10px 10px 0;
}

p {
  color: rgb(96, 56, 19);
  font-family: "Bebas Neue", cursive;
}

/* breakpoints */

@media (max-width: 690px) {
  body {
    background-image: url("https://i.pinimg.com/736x/05/ff/a2/05ffa2fc15da3fca1fabe2a6d0732c42.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .cafe-header {
    width: 300px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .cafe-leite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .section-cafe-leite {
    background-color: #fff;
    padding: 10px 8px;
    border-radius: 20px;
    margin-bottom: 3rem;
  }

  .cafe-leite img {
    /* margin-bottom: 3rem; */
    box-shadow: none;
    width: 295px;
    height: 260px;
  }

  .cappuccino {
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 8px;
  }

  .section-cappuccino {
    background-color: #fff;
    padding: 10px 8px;
    border-radius: 20px;
    margin-bottom: 3rem;
  }

  .img-cappuccino {
    /* margin-bottom: 5px; */
    box-shadow: none;
  }

  .expresso {
    display: grid;
    grid-template-columns: 2;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 3rem;
    gap: 8px;
  }

  .section-expresso {
    background-color: #fff;
    padding: 10px 8px;
    border-radius: 20px;
  }

  .img-expresso {
    box-shadow: none;
  }

  .mocha {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 8px;
  }

  .section-mocha {
    background-color: #fff;
    padding: 10px 8px;
    border-radius: 20px;
    margin-bottom: 3rem;
  }

  .img-mocha {
    box-shadow: none;
    width: 295px;
    height: 280px;
  }
}

/* Estilos para o carrossel */
.carousel img {
  max-width: 300px;
  max-height: 500px;
  /* margin: 0 auto;
  object-fit: cover; */
}

/* .carousel h3,
.carousel p {
  text-align: center;
} */

.carousel {
  width: 75%;
  /* height: 500px; */
  margin: 0 auto;
  position: relative;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(22, 9, 9, 0);
  border: none;
  font-size: 50px;
  cursor: pointer;
}

.slick-prev {
  left: -60px;
  color: rgb(7, 7, 7);
}

.slick-next {
  right: -60px;
  color: rgb(7, 7, 7);
}
